* {
    font-family: 'Hedvig Letters Serif', serif;
}
body {
    background-color: #1f1f1f;
    width: 100vw;
    min-height: 100vh;
}
/* Cabecera */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    background-color: #373737;
    padding: 10px;
}
.header-container {
    display: flex;
    gap: 15px
}
.header-container .img-wrapper {
    width: 180px;
}
.header-container .title-container {
    color:white;
    font-size: 50px;
    display: flex;
    align-items: center;
}
/* Barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #c95a31;
}
.navbar {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content:space-evenly;
}
.nav-item {
    height: 100%;
    width: 100%;
    transition: all ease 300ms;
}
.nav-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
}
.nav-item:hover {
    background-color: #f17547;
}
/* Presentación de platos */
.presentation {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.img-carousel {
    display: flex;
    animation: desplazar-presentation 18s ease-in-out infinite;
    width: 100%;
    height: 100%;
}
@keyframes desplazar-presentation {
    0%,100% { transform: translateX(0);}
    25% { transform: translateX(0);}
    33.333% {transform: translateX(-100%);}
    58.333% {transform: translateX(-100%);}
    66.666% {transform: translateX(-200%);}
    91.666% {transform: translateX(-200%);}
  }
.img-wrapper {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
.img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* Cuadro de presentación inicial */
.presentation-card {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.67);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.presentation-card{
    text-align: center;
}
.presentation-card h1{
    font-size: 50px;
}
.presentation-card h2{
    font-size: calc(50px/1.618);
}