header {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: 'Hedvig Letters Serif', serif;
    background-color: #373737;
    padding: 10px;
}
header .header-container {
    display: flex;
    gap: 15px
}
header .header-container .img-wrapper {
    width: 180px;
}
header .header-container .title-container {
    color:white;
    font-size: 50px;
    display: flex;
    align-items: center;
}