nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 45px;
    background-color: #DBB957;
}
nav .navbar {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content:space-evenly;
}
nav .nav-item {
    height: 100%;
    width: 100%;
    transition: all ease 300ms;
}
nav .nav-item a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:black;
    font-size: 18px;
}
nav .nav-item:hover,.nav-item a:hover {
    background-color: #f9d055;
    font-weight: 600;
}