*{
    color: black;
    font-family: 'Hedvig Letters Serif', serif;
}
.div{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    /* align-content: start; */
}
.global_header-nav{
    display: flex;
    width: 100%;
    top: auto;
    margin-bottom: 40px;
    border-bottom: 1px solid white;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #c95a31;
    background-color: #8e3f23;
}
.header-container {
    display: flex;
    gap: 15px
}
.header-container .img-wrapper {
    width: 60px;
}
.header-container .title-container {
    color:white;
    font-size: 20px;
    display: flex;
    align-items: center;
}
/* Barra de navegación */
nav {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    background-color: #8e3f23;
}
.navbar {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.nav-item {
    height: 100%;
    width: 100%;
    transition: all ease 300ms;
    padding:0 5px;
}
.nav-item a {
    padding:0 15px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 20px;
}
.nav-item:hover , .nav-item a:hover{
    background-color: #f17547;
    color: black;
}
/* Presentación de platos */
.presentation {
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.global-header{
    width: 100%;
    display: flex;
    justify-content: center;    
}
.global_header-div{
    backdrop-filter: blur(10px);
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid rgb(248, 242, 223);
    border-right:  3px solid rgb(248, 242, 223);
    border-top: 3px solid rgb(248, 242, 223);
}
.global_header-line{
    margin: 20px 15px 20px 5px ;
    width: 30%;
    background-color: rgb(220, 205, 39);
    height: 2px;
}
.global_header-h2{
    font-family: 'Amargo', serif;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.global-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
.global_body-div{
    width: 55%;
    display: flex;
    justify-content: center;
    border-left: 3px solid rgb(248, 242, 223);
    border-right:  3px solid rgb(248, 242, 223);
}
.global_body-h2{
    backdrop-filter: blur(10px);
    text-align: center;
    width: 100%;
    font-family: 'Amargo', serif;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.global_body-inputs{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    border-bottom: 3px solid rgb(248, 242, 223);
    border-left: 3px solid rgb(248, 242, 223);
    border-right:  3px solid rgb(248, 242, 223);
}
.global_body-subinputs{
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.global_body-subinputs-input{
    width: 40%;
    height: 50px ;
    margin: 10px;
    padding: 0 10px;

}
.global_body-subinputs-select{
    width: 40%;
    height: 50px ;
    margin-bottom: 15px;
    padding: 0 10px;
}
.global_body-subinputs-div{
    width: 82.5%;
    margin-bottom: 20px;    
    
}
.global_body-subinputs-textarea{
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    resize: none;
}
.global_body-subinputs-button{
    width: 100%;
    height: 40px;
    border-radius: 1px;
    width: 82.5%;
    margin-bottom: 15px;

}
.global-footer{
    border-top: 1px solid rgb(255, 255, 255);
    backdrop-filter: blur(10px);
    width: 100%;
    bottom: 100px;
}
.global_footer-h2{
    padding: 5px 0 3px 0;
    text-align: center;
    font-family: 'Amargo', serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
}
.global-footer-div_h3{
    padding: 2px;
    font-family: 'Amargo', serif;
    color: rgb(255, 255, 255);
    text-align: center;

}

input,select,textarea{
    border: 1px solid rgb(35, 36, 35);
    background-color: wheat;
}
.img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
h2,h3 {
    color: rgb(0, 0, 0);
}