*{
    color: black;
}

.global-header{
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
}
.global_header-div{
    backdrop-filter: blur(10px);
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 3px solid rgb(248, 242, 223);
    border-right:  3px solid rgb(248, 242, 223);
    border-top: 3px solid rgb(248, 242, 223);
}
.global_header-line{
    margin: 20px 15px 20px 5px ;
    width: 30%;
    background-color: rgb(220, 205, 39);
    height: 2px;
}
.global_header-h2{
    font-family: 'Amargo', serif;
    color: white;
    font-size: 25px;
    font-weight: 800;
}

.global-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}
.global_body-div{
    width: 55%;
    display: flex;
    justify-content: center;
    border-left: 3px solid rgb(248, 242, 223);
    border-right:  3px solid rgb(248, 242, 223);
}
.global_body-h2{
    backdrop-filter: blur(10px);
    text-align: center;
    width: 100%;
    font-family: 'Amargo', serif;
    color: white;
    padding: 10px;
    font-size: 20px;
}
.global_body-inputs{
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    border-bottom: 3px solid rgb(248, 242, 223);
    border-left: 3px solid rgb(248, 242, 223);
    border-right:  3px solid rgb(248, 242, 223);
}
.global_body-subinputs{
    backdrop-filter: blur(10px);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.global_body-subinputs-input{
    width: 40%;
    height: 50px ;
    margin: 10px;
    padding: 0 10px;

}
.global_body-subinputs-select{
    width: 40%;
    height: 50px ;
    margin-bottom: 15px;
    padding: 0 10px;
}
.global_body-subinputs-div{
    width: 82.5%;
    margin-bottom: 20px;    
    
}
.global_body-subinputs-textarea{
    width: 100%;
    padding: 10px 10px;
    resize: none;
}
.global_body-subinputs-button{
    width: 100%;
    height: 40px;
    border-radius: 1px;
    width: 82.5%;
    margin-bottom: 15px;

}
.global-footer{
    border-top: 1px solid wheat;
    backdrop-filter: blur(10px);
    width: 100%;
    
}
.global_footer-h2{
    padding: 5px 0 3px 0;
    text-align: center;
    font-family: 'Amargo', serif;
    font-size: 15px;
    color: white;
}
.global-footer-div_h3{
    padding: 2px;
    font-family: 'Amargo', serif;
    color: white;
    text-align: center;

}
.div{
    border: 4px solid rgb(35, 36, 35);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}
input,select,textarea{
    border: 1px solid rgb(35, 36, 35);
    background-color: wheat;
}
img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
h2,h3 {
    color: rgb(0, 0, 0);
}