*{
    color: rgb(255, 255, 255);
    font-family: 'Hedvig Letters Serif', serif;
}

.eventos{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* align-content: start; */
    background-image: url(../img/interior-restaurante.jpg);
    background-size: cover;
}
.eventos-container {
    background-color: #1e1e1e6d;
    backdrop-filter: blur(10px);
    height: 70%;
    width: 50%;
    border: 3px solid rgb(248, 242, 223);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eventos .global_header-nav{
    top: auto;
}
.global_header-nav{
    display: flex;
    height: 6%;
    width: 100%;
    top: auto;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}
.global-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px; 
}
.global_header-div{
    display: flex;
    align-content: center;

}
.global_header-line{
    align-self: center;
    width: 240px;
    height: 2px;
    border: 1px solid white;
}
.global_header-h2{
    width: 60%;
    padding: 0 10px;
    font-family: 'Amargo', serif;
    color: white;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.global-body{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.global_body-div{
    display: flex;
    width: 100%;
    justify-content: center;
}
.global_body-h2{
    margin-bottom: 10px;
    color: white;

}
.global_body-inputs{
    display: flex;
    flex-wrap: wrap;
}
.global_body-subinputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.global_body-subinputs-input{
    width: 40%;
    height: 50px ;
    margin: 10px;
    padding: 0 10px;
}

.global_body-subinputs-div{
    width: 82.5%;
    margin-bottom: 20px;    

}
.global_body-subinputs-textarea{
    width: 100%;
    height: 100px;
    padding: 10px 10px;
    resize: none;

}
.global_body-subinputs-button{
    font-size: 20px;
    color: #bbbaba;
    width: 100%;
    height: 15%;
    border-radius: 10px;
    width: 82.5%;
    background-color: #1e1e1e;
    margin-bottom: 40px;
}

.global_body-subinputs-textarea,
.global_body-subinputs-input{
    background-color: #1e1e1e;
    color: white;
}
.global_body-subinputs-input::placeholder,
.global_body-subinputs-textarea::placeholder{
    color: rgb(189, 187, 187);
}
.global_body-subinputs-button:active{
    background-color: #303030;
}

.global_body-subinputs-input:focus,
.global_body-subinputs-textarea:focus{
    transition: all 1s ease-in-out;
}

h2,h3 {
    color: rgb(0, 0, 0);
}

