img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border: 1px solid salmon;

}
.presentation {
    border: 1px solid salmon;
    width: 100%;
    height: 600px;
    overflow: hidden;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.img-carousel {
    display: flex;
    animation: desplazar-presentation 18s ease-in-out infinite;
    width: 100%;
    height: 100%;
}
@keyframes desplazar-presentation {
    0%,100% { transform: translateX(0);}
    25% { transform: translateX(0);}
    33.333% {transform: translateX(-100%);}
    58.333% {transform: translateX(-100%);}
    66.666% {transform: translateX(-200%);}
    91.666% {transform: translateX(-200%);}
}
.img-wrapper {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}
/* Cuadro de presentación inicial */
.presentation-card {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.67);
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.presentation-card{
    text-align: center;
}
.presentation-card h1{
    font-size: 50px;
}
.presentation-card h2{
    font-size: calc(50px/1.618);
}